body {
    position: relative;
}

.page-1-title {
    margin-bottom: 0;
    font-family: 'Creepster', cursive;
    color: lightsalmon;
    font-size: 5rem;
    text-shadow: 0 0 5px black;
}

.tours-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    position: relative;
    left: 30vw;
}

.tours-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tour {
    border-radius: 5px;
    box-shadow: 0 0 10px gray;
    border: lightsalmon;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;

}

@media screen and (max-width: 600px) {
    .page-1-title {
        font-size: 3rem;
    }

    body {
        padding: 0 0 0 0;
    }

    .tour {
        padding: 1% 1% 1% 1%;
        margin-bottom: 2rem;
    }

    .tours-page {
        width: 90vw;
        left: 3vw;
    }


    .tour-title {
        font-size: 0.8rem;
    }

    img {
        min-width: 90vw;
    }

    .delete-button {
        min-width: 60vw;
        font-size: .4rem;
    }

    .refresh-button {
        min-width: 60vw;
    }

    P {
        font-size: .9rem;
    }
    .line{
        margin-bottom: 3rem;
    }

}

.tour-data {
    display: flex;
    flex-direction: column;
    padding: 2% 2% 2% 2%;
}


.tour-title {
    color:lightsalmon;
    font-family: 'Ranchers', cursive;
    display: flex;
    flex-direction: row;
   padding: 0 0 0 0 ;
}

h2 {
    flex-grow: 10;
    text-shadow: 0 0 2px black;
}

h4 {
    border-radius: 5px;
    background-color: hsla(20, 100%, 95%, 1);
    padding: .6% 1% 0 1%;
}

.delete-button {
    border-radius: 5px;
    box-shadow: 0 0 10px gray;
    font-family: 'Freckle Face', cursive;
    position: relative;
    border: white solid 0;
    background-color: white;
    color: lightsalmon;
    height: 4vh;
    cursor: pointer;
    font-size: 1.1rem;
    width: 15vw;
    left: 12.5vw;
}

.delete-button:hover {
    background-color: lightsalmon;
    color: white;
    transform: scale(1.2);

}

img {
    max-width: 40vw;
    border-radius: 5px 5px 0 0;
}

.tour:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px lightsalmon;
}

.page-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.refresh-button {
    font-family: "Gill Sans", serif;
    font-size: 1.3rem;
    height: 5vh;
    width: 30vw;
    border-radius: 3px;
    border: darkgreen solid 1px;
    color: darkgreen;
    background-color: white;
}

.refresh-button:hover {
    color: white;
    background-color: darkgreen;
}

p {
    font-family: 'Fresca', sans-serif;
    text-align: justify;

}

.loader {
    text-align: center;
}

.page-2-title {
    font-family: Arial, serif;
}
.line{
    margin-bottom: 3rem;
    width: 12rem;
    height: .2rem;
    background-color: lightsalmon;
    box-shadow:0 0  2px black;
}
.info-button{
    font-family: 'Fresca', sans-serif;
    border: white solid 2px;
    color:lightsalmon;
    background-color: white;
    cursor: pointer;
}

